body{
    font-family: 'Montserrat', sans-serif;
    background-color: darkgray;
    color: #30363b;
    max-width: 1200;
    margin: 0 auto;
    padding: 10px;
    display: flex;
}

header{
    display: flex;
    flex-direction: row;
    justify-items: space-between;
    align-items: center;
    font-size: x-large;
}

#logo{
    flex-direction: column;
}

li{
    display: inline-block;
    margin: 50px;
    list-style: none;
    
}

ul{
    padding-left: 500px;
}