*{
    margin: 0;
    padding: 0;
    border: 0;
    max-width: 1200;
}

body{
    background-color: #ED403C;
    color: white;
    font-family:'Montserrat', sans-serif;
}

header {
    background-color: white;
    
}

li{
    list-style: none;
    text-align: center;
    color: #ff0000;
    display: inline-block;
    text-decoration: none;
    padding: 20px;
}

#logo{
    text-align: left;

}

#menu{
    text-align: right;
    font-size: x-large;
}

h1{
    padding: 50px 0px 20px 50px;
}

article{
    padding: 50px;
    text-align: left;
    font-size: x-large;
    padding-left: 30px;
    text-indent: 20px;
}

li:hover{
    background-color: #ff0000;
    color: white;
    padding: 0px 20px 0px 20px;
}

footer{
    background-color: black;
    padding: 50px;
    line-height: 30px;
}

footer > ul > li > a{
    color: white;
    list-style: none;
    text-decoration: none;
    
}

footer > ul > li > a:hover{
    background-color: rgb(255, 255, 255);
    color:black;
    font-weight: 500;
    border-radius: 15px;
    list-style: none;
    text-decoration: none;
    padding: 20px;

}

footer > ul > li{
    display: block;
    text-align: left;
    
}

footer > ul > li:hover{
    background-color: black;
}

main{
    height: 500px;
    width: 50%;
    margin-left: 150px;
}

main > p{
    padding: 50px;
    text-align: left;
    font-size: x-large;
    padding-left: 30px;
    text-indent: 20px;
}

main > p > img{
    vertical-align: baseline;
    display: flexbox;
    width: 600px;
}