*{
    margin: 0;
    padding: 0;
    border: 0;
    max-width: 1200;
}

body{
    background-color: #ED403C;
    color: rgb(255, 255, 255);
    font-family:'Montserrat', sans-serif;
}

header {
    background-color: white;
    
}

li{
    list-style: none;
    text-align: center;
    color: #000000;
    display: inline-block;
    text-decoration: none;
    padding: 20px;
}

#logo{
    text-align: left;

}

#menu{
    text-align: right;
    font-size: x-large;
    
}

a:hover{
    background-color: #ff0000;
    color: white;
    padding: 0px 20px;
}

.main{
    display: block;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)), url(imagens/uma-pintura-de-sushi-e-um-prato-com-a-imagem-de-um-peixe.jpg);
    
}

main > article > h1{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
    
}

main > article > p{
    padding-bottom: 300px;
    text-align: center;
    
}

.img{
    width: 100%;
}

second > h1{
    margin: 80px;
    text-align: center;
}
second > p{
    margin: 80px;
    text-align: left;
    line-height: 30px;
}

footer{
    background-color: black;
    padding: 50px;
}

footer > ul > li > a{
    color: white;
    list-style: none;
    text-decoration: none;
    
}

footer > ul > li > a:hover{
    background-color: rgb(255, 255, 255);
    color:black;
    font-weight: 500;
    border-radius: 15px;
    list-style: none;
    text-decoration: none;
    padding: 20px;
}

footer > ul > li{
    display: block;
    text-align: left;
    
}

footer > ul > li:hover{
    background-color: black;
}