body{
    font-family: 'Montserrat', sans-serif;
    background-color: darkgray;
}
header{
    color: white;
    height: 100;
    text-decoration-style: none;
    text-align: right;
}

li{
    list-style-type: none;
    display: inline;
    padding: 10px;
    list-style: none;
    
}

a:link{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    background-color: red;
}
